h1{
    font-family: KaushanScript , 'Lucida Grande', sans-serif;
    font-size: em(50);
    color: $color-primary;
    @include shadow;
    text-align: center;
    padding: em(2,50) 0 em(24,50) 0;
    
}

.container{
    display:flex;
    flex-direction: row;
    border-bottom: em(2) solid darken($color-bg-primary, 8%);
    padding-bottom: em(22);
}

span{
    color:$color-primary;
    font-weight: bold;
}
.aboutus{
    width: 50%;
    font-size: em(18);
    letter-spacing: em(1.1);

    li{
        list-style: none;
        padding : em(12) 0 em(4) em(28);
        background-color: lighten($color-accent,1%);
        width: 104%;
        position: relative;
        top: em(-18);
        left: em(-13);
        border: 1px solid darken($color-acc-sec, 10%);
        font-style: italic;
        font-weight: 600;
    }

    li:last-child{
        padding-bottom: em(14);
    }
    
    .border{
        width: em(400);
        background-color: $color-acc-sec;
        margin: 0;
        margin-top: em(50);    
    }
}
.bistro{
    width: 50%;
}
