.navigation{
    ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding : 1.5em 0.5em 2em 0;
    border-bottom: em(2) solid darken($color-bg-primary, 8%);
    overflow: hidden;
    position: fixed;
    top:em(-18);
    width: 98.3%;
    z-index:200;
    background-color: transparentize($color-accent, 0.03);
    }
    
}

.navigation{
    a{
    @include shadow;
    color:$color-primary;
    font-size: em(28);
    padding-left: em(30);
    font-family: KaushanScript , 'Lucida Grande', sans-serif;
    text-decoration: none;
    z-index: 250;
    }

    &:hover,
    &:active{
        color: lighten($color-primary, 30%);
    }
}