@import '_variables.scss';
@import '_mixin.scss';
@import '_navigation.scss';

//general 
    

@font-face {
    font-family: KaushanScript;
    src: url(/scss/fonts/KaushanScript.ttf);
}

 body {
     font-size: 100% ;
     background-color: lighten($color-bg-primary, 28%);
     margin:0;
     padding: 1em 3em 3em 3em;
 }

//header
///-------------------

.brand{
    font-family: KaushanScript , 'Lucida Grande', sans-serif;
    font-size: em(42);
    color: $color-primary;
    @include shadow;
    text-align: center;
    padding-bottom: em(15,42);
    
}