@import '_variables.scss';
@import 'mixin.scss';


body{
    background-color: red;
}

p{
    color: $color-accent;
}

@font-face {
    font-family: KaushanScript;
    src: url(/scss/fonts/KaushanScript.ttf);
}

 body{
     font-size: 100% ;
     background-color: transparentize($color-bg-primary, 0.62);
 }
h1{
    font-family: KaushanScript , 'Lucida Grande', sans-serif;
    color: $color-primary;
    @include shadow;
    letter-spacing: 0.1em;
}

h2{
    color: $color-brd-text;
}

a{
    text-decoration: none;
    display: inline-block;
    @include shadow;
    font-size: 1.5em;
    color:$color-primary;

}